.container{
  font-family: 'Times New Roman', serif;
  box-shadow: 5px 5px 5px 5px gray;
  background-image: linear-gradient(ghostwhite, lightgray);
}
.titleBar{
  font-style: italic;
  text-shadow: 3px 3px 3px darkgray;
  background-image: linear-gradient(ghostwhite, lightgray);
}

.card {
  justify-content: center;
  height: 110px;
  width: 110px;
  margin: 10px;
  text-align: center;
  font-size: small;
  /* background-image: url('./riot.jpg'); */
  background-size: cover;
  box-shadow: 3px 3px 3px darkgray;
}


.card:hover{
cursor: pointer;
}

.card p, h6{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: bolder;
  position: absolute;
}


a:link{
  text-decoration: none;
  color: gray;
}

a:active{
  text-decoration: none;
  color: gray;
}

a:visited{
  text-decoration: none;
  color: gray;
}

a:hover{
  text-decoration: none;
  color: gray;
}

.vertNav{
  background-image: linear-gradient(whitesmoke, lightgray);
  margin-left: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px darkgray;
  padding-top: 60px;
  font-style: italic;
  box-shadow: 5px 5px 5px 5px darkgray;
}

.vertNav p{
  color: gray;
  font-style: italic;
  margin-top: 80px;

}


.recipeCard{
  padding: 15px;
  height: 600px;
  width: 400px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px 5px darkgray;
  border-radius: 5px;
}
.logOutText{
  background-color: whitesmoke;
  padding: 20px;
  font-size: large;
  height: 200px;
  width: 700px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}


.listHead{
cursor: pointer;
color: gray;
font-size: small;
height: 20px;
padding-left: 10px;
}


.addRecipeForm{

  margin: 0 auto;
  width: 500px;
  box-shadow: 7px 7px 7px 7px darkgray;
}

.navbar{
  font-size: x-large;
  text-shadow: 2px 2px 2px darkgray;
  font-weight: bolder;

}

.loginForm{
  margin: 0 auto;
  width: 300px;
}

.registerForm{
  margin: 0 auto;
  width: 300px;
}

.buttonRow{
  text-align: center;
}

.buttonRow .btn{
  margin: 0px 10px 0px 10px;
}

.dropdown-toggle{
  margin-left: 10px;
}
#navContainer{
  padding-left: 100px;
}

.recipePhoto{
  box-shadow: 5px 5px 5px darkgray;
  width: 100%;
  border: 3px solid black;
  border-radius: 5px;
}

.foodPhoto{
  height: 70px;
  object-fit: fill;
}
