.container{
  font-family: 'Times New Roman', serif;
}


.card {
  height: 110px;
  width: 110px;
  margin: 10px;
  text-align: center;
  font-size: small;
}

.card:hover{
cursor: pointer;
}

a {
  text-decoration: none;
  color: lightgray;
}

a:link, a:active, a:visited, a:hover{
  text-decoration: none;
  color: gray;
}

.vertNav{
  background-color: lightgray;
  margin-left: 20px;
  text-align: center;
}
.vertNav p{
  margin-top: 40px;
}
.recipeCard{
  height: 600px;
  width: 400px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}
.logOutText{
  padding: 20px;
  font-size: large;
  height: 300px;
  width: 800px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}


.listHead{
cursor: pointer;
color: gray;
font-size: small;
height: 20px;
padding-left: 10px;
}


.addRecipeForm{
  margin: 0 auto;
  width: 500px;
}
