.container{
  font-family: Tahoma, Helvetica, sans-serif;
  box-shadow: 5px 5px 5px 5px gray;
  background-image: linear-gradient(ghostwhite, wheat);
}

.titleBar{
  font-style: italic;
  text-shadow: 3px 3px 3px darkgray;
  background-image: linear-gradient(navy, antiquewhite);
}

.card {
  justify-content: center;
  height: 110px;
  width: 110px;
  margin: 10px;
  text-align: center;
  box-shadow: 3px 3px 3px darkgray;
}


.card:hover{
cursor: pointer;
opacity: 50%;
}

.card h6{
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px gray;
  font-weight: bolder;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}


a:link{
  text-decoration: none;
  color: gray;
}

a:active{
  text-decoration: none;
  color: navy;
}

a:visited{
  text-decoration: none;
  color: navy;
}

a:hover{
  text-decoration: none;
  color: ghostwhite;
}

.navbar a:link{
  text-decoration: none;
  color: gray;

}

.navbar a:hover{
  text-decoration: none;
  color: lightgray;
}
.vertNav{
  background-image: linear-gradient(white, antiquewhite);
  margin-left: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px darkgray;
  font-style: italic;
  box-shadow: 5px 5px 5px 5px darkgray;
  font-family: 'Times New Roman', serif;
}

.vertNav a{
  color: navy;
  font-style: italic;
}



.navBox{
  margin-top: 60px;
  height: 60px;
  width: 60px;
  border-bottom: 1px solid darkgray;
}

.navBox a:link{
  text-decoration: none;
  color: navy;
}

.navBox a:hover{
  color: lightgray;
}

.recipeCard{
  background-image: linear-gradient(white, antiquewhite);
  padding: 15px;
  height: 600px;
  width: 400px;
  border: 3px solid black;
  box-shadow: 5px 5px 5px 5px darkgray;
  border-radius: 5px;
}

#recipeRender p{

}


.logOutText{
  background-color: whitesmoke;
  padding: 20px;
  font-size: large;
  height: 200px;
  width: 700px;
  border: 1px solid lightgray;
  box-shadow: 5px 5px 5px lightgray;
}


.listHead{
cursor: pointer;
color: gray;
font-size: small;
height: 20px;
padding-left: 30px;
margin-left: 30px;
}


.addRecipeForm{

  margin: 0 auto;
  width: 500px;
  box-shadow: 7px 7px 7px 7px darkgray;
}

.navbar{
  background-color: ghostwhite;
  font-size: x-large;
  text-shadow: 2px 2px 2px darkgray;
  font-weight: bolder;

}

.loginForm{
  margin: 0 auto;
  width: 300px;
}

.registerForm{
  margin: 0 auto;
  width: 300px;
}

.buttonRow{
  text-align: center;
}

.buttonRow .btn{
  margin: 0px 10px 0px 10px;
}

.dropdown-toggle{
  margin-left: 10px;
}
#navContainer{
  background-color: ghostwhite;
  padding-left: 100px;
}

.recipePhoto{
  box-shadow: 5px 5px 5px darkgray;
  border: 3px solid black;
  border-radius: 5px;
  width: 100%;
}

.foodPhoto{
  height: 100%;
  object-fit: fill;
}

.prepTimes{
  text-align: center;
  color: slategray;
  border: 2px solid darkgray;
  border-style: inset;
}
.input-group.form-control{
  border: 2px solid lightgray;
  border-style: inset;
}
#photoForm{
  text-shadow: 2px 2px 2px darkgray;
  text-align: center;
}

.profileForm{
  margin-top: 50px;
}

.recipeRow{
  margin-left: 30px;
  padding-left: 30px;
}
